* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}

.titulo {
    width: 800px;
}
.cabeca{
    padding-top: 250px;
    justify-content: center;
    width: 100%;
    background-color: rgb(114, 180, 218);
    height: 600px; 
    font-size: larger; 
    font-weight: 500px;
}
.fds{
    size: 500px;
    display: flex;
    justify-content: center;
    position:absolute;
	left:50%;
	top:50%;
	margin-left:-370px;
	margin-top:-300px;

}
#cpx{
   width: 100%;
   display: flex;
   justify-content: space-around;
   padding: 50px;
   background-color: rgb(243, 137, 154);
}
.tom{
    position:relative;
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
    margin: auto;
    justify-content: center;
    font-family:cursive;
    font-size:larger;
    
}

.foto{
    border-radius: 50px;
    display:flexbox;
    width: 200px;
    
}
 .content-detaills{
    display:flex;
    justify-content: space-around;
    padding: 0px;
    margin: 0;
    text-align: left;
 }

#content-two2 {
    display: flex;
    
}
.maior{
    font-family:fantasy;
    text-align: center;
    
}
 .texto{
    padding: 30px;
    text-align: justify;
    font-size: 20px;
    font-family: cursive;
    background-color: rgb(255, 213, 220);   

 }
 .img{
    width: 865px;
    height: 855px;
    display: flex;

 }
 .imgt{
    width: 865px;
    height: 855px;
    display: flex;
 }

#contact{
    padding: 50px;
    display: flex;
    justify-content: space-around;
    background-color: palevioletred;
}
.final{
    width:100%;
    background:rgb(175, 63, 82);
    text-align:center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.button{
    background-color: #9662b2;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #56288e; /* Green */
    color: white;
}
.buttom{
    background-color: #49999e;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    border-radius: 12px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.buttom{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.buttom:hover {
    background-color: #24495c; /* Green */
    color: white;
}
.buttom .a1{
    text-decoration: none;
}
.button .a1{
    text-decoration: none;

}
@media (max-width: 1241px) {
    body{
        flex-direction: column;
        align-items: center;
        width: auto;
    }
    .img{
        width: 620px;
        height:620px; 
    }
    .texto{
        font-size: 15px;
    
    }

    .titulo {
        width: 700px;
    }

    .cabeca {
        height: 400px;
    }
    .imgt{
        
        width: 620px;
        height:620px; 
    }
    
    
}

@media (max-width: 800px) {
    body{
        flex-direction: column;
        align-items: center;
        width: auto;
    }
    .foto{
        flex-direction: column;
        align-items: center;
        width: 100px;
        height: 99px;
        border-radius: 25px;
    }
    .img{
        flex-direction: column;
        width: 100%;
        height: 100vh; 
    }
    .texto{
        font-size: 15px;

    }
    .tom{
        font-size: 10px;
        flex-direction: column;
    }

    .titulo {
        width: 600px;
        padding: 0 0 0 190px;
    }

    .cabeca {
        height: 300px;
        align-items: center;
        justify-content: center;
    }
    .imgt{
        flex-direction: column-reverse;
        width: 100%;
        height: 100vh; 
    }
    .content-detaills{
        align-items: center;
        flex-direction: column;
        width: auto;
    }
    #content-two2{
        align-items: center;
        flex-direction: column-reverse;
        width: auto;
    }

     
    
    
}

@media (max-width: 646px) {
    body{
        flex-direction: column;
        align-items: center;
        width: auto;
    }
    .foto{
        width: 100px;
        height: 99px;
        border-radius: 25px;
    }
    .img{
        flex-direction: column;
        width: 200px;
        height:200px; 
    }
    .texto{
        font-size: 10px;

    }
    .tom{
        font-size: 10px;
        flex-direction: column;
    }

    .titulo {
        width: 600px;
        padding: 0 0 0 190px;
    }

    .cabeca {
        height: 300px;
        align-items: center;
        justify-content: center;
    }
    .buttom{
        width: 200px;
        height: 89px;
    }

    .buttom > a{
    font-size: 13px;
    }
    .content-detaills{
        align-items: center;
        flex-direction: column;
        width: auto;
    }
    .content-two{
        align-items: center;
        flex-direction: column-reverse;
        width: auto;

    }
    .imgt{
        flex-direction: column-reverse;
        width: 200px;
        height:200px; 
    }
     



@media (max-width: 320px) {

    body{
        flex-direction: column;
        align-items: center;
        width: auto;
    }
    .foto{
        justify-content: center;
        flex-direction: column;
        width: 60px;
        height: 60px;
        border-radius: 10px;
    }
    .img{
        flex-direction: column;
        width: 320px;
        height: 323px; 
    }
    .imgt{
        flex-direction: column-reverse;
        width: 320px;
        height: 323px;
    }
     
    .content-detaills{
        align-items: center;
        flex-direction: column;
        width: auto;
    }
    .content-two{
        align-items: center;
        flex-direction: column-reverse;
        width: auto;
    }
    .texto{
        justify-content: center;
        font-size: 10px;
        
    }
    .tom{
        align-items: center;
        font-size: 7px;
        flex-direction: column;
        justify-content: center;
    }

    .titulo {
        width: 400px;
        padding: 5 5 5 100px;
        
    }

    .cabeca {
        height: 300px;
        align-items: center;
        justify-content: center;
    }
    .buttom{
        width: 200px;
        height: 44px;
    }

    .buttom > a{
    font-size: 10px;
    justify-content: center;
    display: flex;
    width: 141px;
    height: 34px;
    }
    .button{
        font-size: 10px;
    }

    #a {
        position: relative;
        bottom:15px;    
       }

}

}